h1 {
    overflow: auto;
}
.estilo-h1{
    text-align: center; /* Permite Centrar El Texto */
    background-color: bisque; /* Permite darle color a la etiqueta*/
    align-items: center; /* Permite alinear los elementos */
    border-radius: 200px; /* Permite darle formato de de derecha a y izquiera si es mas circular etc*/
    border: 3px solid #eb97b9; /* Les da formato al border exite muchos tipo diferentes */ 
    padding: 10px; /* Le da  relleno a una propiedad que este dentro de los bordes*/
    height: 80px; /* La altura de un elemento */
    margin-top: 1%; /* margin estable el margen para los cuatros lados */
    max-width: 100%; /* establecer el ancho máximo de un elemento especificado */
    min-width: 10px; /* establecer el ancho minimo de un elemento especificado */
    font-size: 45; /* especifica la dimensión de la letra. El tamaño */
}
.centrado{
    text-align: center;
}
h4 {
    font-size: 15px;
    text-align: center;

}

h3 {
    font-size: 15px;
    text-align: right;

}

body {
    background-color: antiquewhite;

}

ul {
    list-style-type: none;
    margin: 0px ;
    padding: 0px;
    overflow: hidden; /* especifica: si recortar contenido */
    background-color: rgb(218, 197, 170);
    text-align: center;
}

li {
    float: left; /* ubica un elemento al lado izquierdo o derecho de su contenedor */
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

* {
    font-family: sans-serif;
}
img {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }

.column{
    margin: 10px;
    width: 30%;
}
.card{
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.card img{
    width: 200px;
}
p {
    overflow: hidden;
}

